* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  background-color: rgb(223, 223, 94);
  /* border: green dashed 10px; */
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.controls-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: purple */
}
.grid-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 895px;
  width: 895px;
  background-color: white;
}
.grid div {
  border: 1px solid black;
  height: 47px;
  width: 47px;
}
.footer {
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
   /* background-color: red; */
}
.grid div.syringe {
  background-image: url('../assets/syringe-sprite-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width:47px;
  height:47px;
}
.grid div.virus {
  background-image: url('../assets/Coronavirus-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width:47px;
  height:47px;
}
.grid div.blast {
  background-image: url('../assets/Blast.png');
  background-position: center;
  background-repeat: no-repeat ;
  background-size: contain;
  width: 47px;
  height: 47px;
}